<div class="container" style="margin:100px auto">
    <div class="row">
        <div class="col">
            <p style="float:right">
                <span>Hola {{usuario}}!</span>
                <a href="/admin/login/logout" class="btn btn-sm btn-danger">Cerrar sesión <i class="fa fa-sign-out"
                        aria-hidden="true"></i></a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-7" style="margin-top:-9;">
            <h3>Noticias del Mundo Fitness</h3>
        </div>
        <div class="col-2 text-right">
            <a href="/admin/noticiasfitness/agregar" class="btn btn-success"> <i class="fa fa-plus">
                </i>Nuevo</a>
        </div>
        <div class="col-3 text-right">
            <form class="form-inline" action="/admin/noticiasfitness" method="get">
                <input class="form-control" type="search" placeholder="Buscar" aria-label="Buscar" name="q" {{#if q}}
                    value="{{q}}" {{/if}}>
                <button class="btn btn-secondary my-2 my-sm-0" type="submit"><i class="fa fa-search"
                        aria-hidden="true"></i></button>
            </form>
        </div>
    </div>

</div>
</div>
<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr class="table-dark">
                    <th scope="col">#</th>
                    <th scope="col">Título</th>
                    <th scope="col">Imagen</th>
                    <th scope="col" class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each noticiasfitness}}
                <tr>
                    <th scope="row">{{id}}</th>
                    <td>{{titulo}}</td>
                    <td>{{{imagen}}}</td>
                    <td class="text-center">
                        <a href="/admin/noticiasfitness/modificar/{{id}}" class="btn btn-sm btn-secondary">
                            <i class="fa fa-pencil-alt"></i></a>
                        <a href="/admin/noticiasfitness/eliminar/{{id}}" class="btn  btn-sm btn-secondary">
                            <i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if is_search}}
        {{#unless noticiasfitness.length}}
        No se encontraron resultados para "<b>{{q}}</b>"
        {{/unless}}
        {{/if}}

    </div>
</div>

</div>