<div class="container" style="margin:80px auto">
    <div id="noticiasfitness" class="row my-2">
        <div class="col-10" style="margin-top-5">
            <h2>Noticias</h2>
            <ul class="lista-noticiasfitness">
                {{#each noticiasfitness}}
                <li>
                    <a href="javascript:void(0);" data-bs-toogle="modal" 
                    data-bs-target="#modal{{id}}">
                        <img src="{{imagen}}" width="120"> {{titulo}}
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
        {{#each noticiasfitness}}

        <div class="modal fade" id="modal{{ id }}" data-backdrop="static" data-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" 
                        id="staticBackdropLabel">{{ titulo }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2>{{ subtitulo }}</h2>
                        <img src="{{ imagen }}">
                        <p>{{ cuerpo }}</p>
                    </div>
                </div>
            </div>
        </div>
        
        {{/each}}
    </div>